:root {
    --font: 'Roboto', sans-serif;
    --bg-color: white;
    --font-color: #292929;
    --font-color-hover: #292929b6;
    --border-color: #E6E6E6;
    --margin-base: 32px;
}

body {
    background-color: var(--bg-color);
    font-family: var(--font);
    margin: 0;
    padding: 0;
}